APP_NAME=QMTool
APP_ENV=local
APP_KEY=base64:XkuEY+shoPtRz8qYZllA88O1IUVuoU68t5xw7NqWAwo=
APP_DEBUG=true
APP_URL=http://127.0.0.1:8000

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=qm_tool_live
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=redis
QUEUE_CONNECTION=redis
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=587
MAIL_USERNAME=7e87997d50f874
MAIL_PASSWORD=18f8391cfa9826
MAIL_ENCRYPTION=tls

AWS_ACCESS_KEY_ID=AKIAUYUMYMBTWQOO3PWC
AWS_SECRET_ACCESS_KEY=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
AWS_DEFAULT_REGION=ap-south-1
AWS_BUCKET=qmtool

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"
